@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Navbar */

.nav__wrapper {
  background: #008080;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav__brand {
  font-size: 20px;
  font-weight: 300;
  color: #ddd;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__link {
  color: #ddd;
}

.toggler__icon {
  cursor: pointer;
  display: none;
}

.toggler__icon div {
  width: 25px;
  height: 2px;
  background: #ddd;
  margin: 5px 0px;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .toggler__icon {
    display: block;
  }
  .nav__menu {
    position: fixed;
    background: #008080;
    flex-direction: column;
    top: 10vh;
    width: 50%;
    height: 90vh;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s ease;
    z-index: 1;
  }
}

.nav__collapse {
  transform: translateX(0%);
}

/* Toggle Icon Animation */
.toggle .line__1 {
  transform: translate(-5px, 7px) rotate(-45deg);
}
.toggle .line__2 {
  opacity: 0;
}
.toggle .line__3 {
  transform: translate(-5px, -7px) rotate(45deg);
}